body {
/*    background-color:black;*/
    font-family: verdana;
}

#title {
    border-radius:5px;
    padding:5px;
    background-color:red;
}
#intro {
       border-radius:5px;
    padding:5px;
    background-color:#FFA200;
}
#opinion {
       border-radius:5px;
    padding:5px;
    background-color:#00A03E;
}
#evidence {
       border-radius:5px;
    padding:5px;
    background-color:#24A8AC;
}
#conclusion {
       border-radius:5px;
    padding:5px;
    background-color:#0087CB;
}
#links {
       border-radius:5px;
    padding:5px;
    background-color:#982395;
}
h1 {
    margin:0px;
}
h2 {
    margin:0px;
}
h3 {
    margin:0px;
}
h4 {
    margin:0px;
}
h5 {
    margin:0px;
}
